<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>練習2</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
  <style>
    #app {
      font-size: 1.25em;
    }
    button{
      font-size: 1.5em;
    }
    label{
      display: block;
    }
    .quest{
      margin-bottom: 1em;
      padding-bottom: 0.01em;
      /* border-bottom: 1px solid #ccc; */
    }
    .new-quest {
      margin-bottom: 1em;
      padding-bottom: 0.01em;
    }
    .new-quest input{
      width: 300px;
      height: 20px;
    }
    .new-quest button{
      margin-top: 1em;
    }
  </style>
</head>
<body>

  <div id="app">

    <h1>簡單的心理測驗遊戲</h1>

    <hr>

    <div class="quest" v-if="status === 0">
      <button @click="start">開始</button>
    </div>

    <div class="quest" v-if="status === 1" v-for="(q, idx) in questions">
      <template v-if="idx === qidx">
          <h3>第{{ idx + 1 }}題: {{ q.quest }}</h3>
          <label v-for="(answer, index) in q.options">
            <input type="radio" :value="answer.value" v-model="q.selected">
            {{ index + 1 }}. {{ answer.ans }}
          </label>
      </template>
    </div>

    <div class="new-quest" v-if="status === 2">
      <label>
        題目： <input type="text" v-model="newQuestion.quest">
      </label>
      <label v-for="q in newQuestion.options">
        答案： <input type="text" v-model="q.ans">
        分數： <input type="number" v-model="q.value">
      </label>
      <button @click.prevent="addCol">增加欄位</button>

      <div>
          <button @click.prevent="onAdd">完成新增</button>
      </div>
    </div>

    <hr>

    <button @click="onPre" :disabled="qidx === 0">上一題</button>
    <button
      @click="onNext"
      :disabled="qidx === questions.length - 1 || status !== 1"
    >
      下一題
    </button>
    <button
      @click="settlement"
      :disabled="status !== 1 || (qidx + 1) !== questions.length"
    >
      看結果
    </button>
    <button @click="reset" :disabled="status !== 1">重置</button>
    <button @click="addMode">新增問答</button>
  </div>


  <script>
  var vm = new Vue({
    el: '#app',
    data: {
      status: 0, // 0: ready, 1: start, 2: add question
      qidx: 0,
      newQuestion: {
        quest: '',
        options: [{
          ans: '',
          value: 1
        }]
      },
      questions: [
        {
          quest: '如果你是童話故事中，想吃掉三隻小豬的大野狼，你認為使用哪一種方法可以容易吃掉他們？',
          options: [
            { ans: '用煙把小豬燻到昏倒',         value: 1 },
            { ans: '從煙囪或其他入口偷偷爬進屋',  value: 2 },
            { ans: '用槌子把門破壞闖入屋內',      value: 3 },
            { ans: '模仿豬媽媽的聲音騙小豬開門',  value: 4 },
          ],
          selected: null,
        },
        {
          quest: '剪刀、石頭、布，你第一直覺會出哪一個？',
          options: [
            { ans: '剪刀', value: 3 },
            { ans: '石頭', value: 2 },
            { ans: '布',   value: 1 },
          ],
          selected: null
        },
        {
          quest: '下列四項運動項目中，假設你要開始嘗試的話，你最想要做哪一項？',
          options: [
            { ans: '潛水',   value: 3 },
            { ans: '滑翔翼', value: 4 },
            { ans: '滑水',   value: 2 },
            { ans: '長途徒步旅行', value: 1 },
          ],
          selected: null,
        }
      ]
    },
    computed: {
      total: function(){
        var sum = 0;
        this.questions.forEach(function(v){
          sum += Number(v.selected);
        });
        return sum;
      }
    },
    methods: {
      addMode() {
        this.reset();

        this.status = 2;
        this.newQuestion = {
          quest: '',
          options: [{
            ans: '',
            value: 1
          }]
        }
      },
      addCol() {
        this.newQuestion.options.push({
          ans: '',
          value: 1
        });
      },
      settlement: function(){
        var check = true;
        this.questions.some((d, idx, arr) => {
          console.log(d.selected);
          if (!d.selected) {
            check = false;
            return true;
          }
        });

        if (check) {
          alert('總分: ' + this.total);
        } else {
          alert('請完成作答!!!');
        }
      },
      start() {
        this.status = 1;
      },
      reset: function(){
        if (this.status === 0) return;

        this.qidx = 0;
        this.status = 0;
        this.questions.forEach(function(v){
          v.selected = null;
        });
      },
      onPre() {
        if (this.qidx > 0) {
          this.qidx -= 1;
        }
      },
      onNext() {
        if (!this.questions[this.qidx].selected) {
          alert('請作答!!!');
          return;
        }
        if ((this.qidx + 1) < this.questions.length) {
          this.qidx += 1;
        }
      },
      onAdd() {
        console.log(this.newQuestion);
        if (this.newQuestion.quest && this.newQuestion.options[0].ans) {
          this.questions.push({
            quest: this.newQuestion.quest,
            options: this.newQuestion.options.filter((d) => !!d.ans),
            selected: null
          });

          this.reset();
        } else {
          alert('請填內容!!!')
        }
      }
    },
  });
  </script>
</body>
</html>